<section class="post-full-authors">

    <div class="post-full-authors-content">
        <span>Ők írták ezt:</span>
        <span class="post-full-authors-names">{{authors}}</span>
    </div>

    {{> "components/author-accordion"}}

</section>
