<header class="gh-head">
    <nav class="gh-navbar inner">
        <div class="gh-navbar-left">
            <div class="gh-nav-logo gh-navbar-item">
                <a class="gh-nav-logo-suffix" href="{{@blog.url}}">Világnégyzet</a>
            </div>
            {{navigation}}
        </div>
        <div class="gh-navbar-right">
            <a class="gh-navbar-item" href="https://vilagnegyzet.eu/rolunk">Rólunk</a>
            <a class="gh-navbar-btn gh-btn" href="https://vilagnegyzet.eu/ghost" id="signin-button"><span>Belépés</span></a>
        </div>
    </nav>
</header>

    <header class="gh-mobilehead">
        <nav class="gh-mobilenavbar">
            <a class="gh-nav-burger" href="#">
                <div class="hamburger hamburger--collapse" aria-label="Menu">
                    <div class="hamburger-box"><div class="hamburger-inner"></div>
                </div>
            </div>
        </a>
        <a class="gh-nav-logo" href="/">

            <span class="gh-nav-logo-suffix">Világnégyzet</span>
        </a>
    </nav>
    <div class="gh-mobilemenu">
        {{navigation}}
        <a class="gh-navbar-item" href="https://vilagnegyzet.eu/rolunk">Rólunk</a>
        <a class="gh-navbar-item" href="https://vilagnegyzet.eu/ghost">Belépés</a>
    </div>
</header>
